<% title 'My Profile' %>
<% description 'Your profile page, which includes links to your comments, rides, messages, festival lineup, and reviews.' %>

<h1 class='profile-header'> My Profile</h1>
<div class ='row-fluid profile-row'>
  <div id='festival-lineup'class="span4 profile-box">
    <a href="/festival-lineup">
      
      <span class="profile-span">
        <h3> My Linup</h3>
      </span>
    </a>

  </div>
  <div id='my-comments'class="span4 profile-box">
    <a href="/my-comments">
      
      <span class="profile-span">
        <h3> My Comments</h3>
      </span>
    </a>
  </div>
  <div id='my-rides'class="span4 profile-box">
    <a href="/my-rides">
      
      <span class="profile-span">
        <h3> My Rides</h3>
      </span>
    </a>
  </div>
</div>
<div class ='row-fluid profile-row'>
  <div id='my-messages'class="span4 profile-box">
    <a href="/mailboxes">
      
      <span class="profile-span">
        <h3> My Messages</h3>
      </span>
    </a>

  </div>

  <div id='my-reviews'class="span4 profile-box">
    <a href="/my-reviews">
      
      <span class="profile-span">
        <h3> My Reviews</h3>
      </span>
    </a>

  </div>
</div>
