<div role="main" class="main-page-container">
  <div class ='row profile-row'>
    <h1> My Profile</h1>
    <div id='festival-lineup'class="span5 profile-box">
      <a href="/festival-lineup">
        
        <span class="profile-span">
          <h3> My Linup</h3>
        </span>
      </a>

    </div>
    <div id='my-comments'class="span5 profile-box">
      <a href="/my-comments">
        
        <span class="profile-span">
          <h3> My Comments</h3>
        </span>
      </a>
    </div>
    <div id='my-rides'class="span5 profile-box">
      <a href="/my-rides">
        
        <span class="profile-span">
          <h3> My Rides</h3>
        </span>
      </a>
    </div>
  </div>
  <div class ='row profile-row'>
    <div id='my-messages'class="span5 profile-box">
      <a href="/my-messages">
        
        <span class="profile-span">
          <h3> My Messages</h3>
        </span>
      </a>

    </div>

    <div id='my-reviews'class="span5 profile-box">
      <a href="/my-reviews">
        
        <span class="profile-span">
          <h3> My Reviews</h3>
        </span>
      </a>

    </div>
</div>