<% title 'My Reviews' %>
<% description 'All of your festival reviews in one section.' %>

<h3 class='profile-header'> My Reviews</h3>
<% if user_signed_in? %>
  <%= render current_user.reviews %>


<%end%>
