<% title 'My Rides' %>
<% description 'All of your rides to festivals in one place.' %>

<h3 class='profile-header'> My Rides</h3>
<% if user_signed_in? %>
  
  <%= render current_user.rides %>

<%end%>
