<div class="iframe-event-infowindow">
  
  <h3><%=link_to event.festival_year.festival.name, event.festival_year.festival, target: '_blank', class: '' %></h3>
  <div class= 'top-left-ride'>
    

  </div>

</div>
