<section class='main-page-container' id='about-page'>
<h4>
  We're changing the game on festivals. 
</h4>
<p>
  MFN! Striving to be your one stop shop for anything and everything music festival related. We want your music festival experience to be as stress free and spiritually enlightening as possible. Find rides, make new friends, share your story, stay connected. Keep checking back for new ways we can help you!
</p>
<h4>
  The Team
</h4>
<p>MFN currently consists of a very small number of people with a big dream. We want to make new friends and help you with your festival experience from finding a ride there to making sure you get back home safely.</p>
<aside class='about-team'>
  <div>
    <%=image_tag("jared.jpg", alt:"Jared Drewa, Super Bossman") %></br>
    <h4>
      Jared
    </h4>
  </div>
  <div>
    <%=image_tag("blaine.jpg", alt:"Blaine Hatab, Web Designer") %></br>
    <h4>
      Blaine
    </h4>

  </div>
</aside>

<h4>
  Ride Share Makes Getting To Festivals Easier Than Ever!
</h4>
<p>Looking for a ride to a festival? Check out our ride share page and get connected with other people who have open seats or also want to carpool!
</p>

<h4>
  Connect With Your Friends
</h4>
<p>Sign up for a profile and connect it with facebook to start your festival experience! Create your own summer line up, find rides, share your photos/videos/comments, stay connected!
</p>
<h4>
  Get In Touch With Us, You Can Help!
</h4>
<p>Please contact us with questions/comments/concerns and let us know what you would like to see or how MFN can help you! Just send us an email at jared@musicfestivalnation.com.
</p>
</section>