<% title 'Advertising' %>
<% description 'Email us to set up advertising on Music Festival Nation' %>

  <h4>
    Ads are very unique to each business, so we prefer to just get in touch with you to discuss details. Just email us at jared@musicfestivalnation.com
  </h4>