<% title 'Contact Us' %>
<% description 'Email us for questions, comments, etc...' %>

<div id='contact-page'>
  <h2>
    contact us at jared@musicfestivalnation.com
  </h2>
  <h4> Email us for questions, feedback, or anything else!
  </h4>
</div>