<% title 'Contact Us' %>
<% description 'Email us for questions, comments, etc...' %>

<div id='contact-page'>
  <h2>
    contact us at jared@musicfestivalnation.com
  </h2></br>
  <h4> Want to help us get the word out?</h4></br>
  <h4> Looking to advertise through us?</h4></br>
  <h4> Are you a chill and hardworking person?</h4></br>
  <h4> Do you have a unique skill that could help us out? art? video? awesomeness?!?!?!</h4></br>
  <h4> Email us for questions, feedback, or anything else!</h4></br>
</div>