  <aside class="todays-festivals-container">
    <h3>Festivals Going On Right Now </h3>
    <% @events.each do |event| %>
      <div class="todays-festival">
        <%=link_to event.festival_year.festival.name, event.festival_year.festival%>
      </div>
    <%end%>
  </aside>
  <div role="main" class="main-page-container">
    <section id="carousel">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div id="festival-month" class="active carousel-div item">
            <div class="item-container">
              <%=link_to image_tag("map.png", alt:"Music Festival Nation Festival Map"), '/festival-map'%>
              <div class="item-header">
                <h2>
                  FESTIVAL MAP
                </h2>
              </div>
              <div class="item-footer well well-large">
                <h3>
                  Google Map of All US Festivals
                </h3>
                <p>
                  Easy to use and comes with great filters so you can find the perfect festival.
                </p>
              </div>
            </div>
            
          </div>
          <div id="musician-month"  class="item carousel-div">
            <div class="item-container">
              <%=link_to image_tag("rideshare.png", alt:"Music Festival Nation Rideshare App"), '/rideshare'%>
              <div class="item-header">
                <h2>
                  FESTIVAL RIDE SHARE
                </h2>
              </div>
              <div class="item-footer well well-large">
                <h3>
                  Setup Rides With Other Festival Goers!
                </h3>
                <p>
                  Ask for or provide a ride for any US festival. Getting to festivals has never been easier.
                </p>
              </div>
            </div>
          </div>
          <div id="festival-review" class="item carousel-div">
            <div class="item-container">
              <%=image_tag("review.png", alt:"wakarusa festival review") %>
              <div class="item-header">
                <h2>
                  MFN REVIEWS
                </h2>
              </div>
              <div class="item-footer well well-large">
                <h3>
                  Review Any Festival
              </h3>
                <p>
                  Look at our official Wakarusa review or create your own. Rate the festival, its security, and talk about your experience.
                </p>
              </div>
            </div>
          </div>
        </div> 
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </section>
    <div class= "sidebar">
      <section id="facebook-widget">
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like-box" data-href="https://www.facebook.com/MusicFestivalNation?fref=ts" data-width="292" data-height="190" data-show-faces="true" data-stream="false" data-header="false"></div>
      </section>
      <section id="twitter-widget">
        <a class="twitter-timeline"  href="https://twitter.com/MusicFestNation"  data-widget-id="300359219029360640">Tweets by @MusicFestNation</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </section>
      
    </div>
  </div>
  <footer>

  </footer>




