@import 'bootstrap/variables'
@import 'bootstrap/mixins'

$lightyellow: rgb(255,225,94)
$red: rgb(239,49,34)
$darkblue: #23238E
$orange: rgb(233, 86, 36)
$brown: #5d3c1d
$greenbrown: rgb(90, 58, 0)
$darkorange: rgb(233, 74, 19)
$clearwhite: rgba(241,241,241, .6)



//google map fixes
#festival-map
  margin: 0px
  .map_container 
    width: 100% !important
  
//this fixes the broken zoom thingy on the gmap4rails map
#map 
  img 
    max-width: none

#map 
  label 
    width: auto
    display:inline

.loader
  width : 124px
  height : 124px
  background-image : url('loader2.gif')
  background-position: center center
  position: absolute
  z-index: -100
  left: 200px
  top: 400px
  background-repeat: no-repeat


.post-ride-button
  @media (max-width: 767px)
    width: 98%
    padding: 1%
    margin-bottom: 10px

.rideshare-top
  .span6
    margin-bottom: 5px

.filter-map-row
  .filter-bar-map
    padding-left: 40px
    width: 470px
    display: inline-block
  .slider-box-map
    padding-top: 15px
    width: 330px
    vertical-align: middle
    display: inline-block
  #filtered-pop-map
    margin-left: 50px
  .map-search
    display: inline-block
    vertical-align: middle
    form
      margin: 0px




#filtered-pop
  margin-left: 70px
  margin-top: 10px



.rideshare-sidebar
  position: relative
  padding-bottom: 20px
  width: 96%
  white-space: nowrap
  overflow: hidden
  height: auto
  line-height: 0px
  padding: 2%
  background-color: $clearwhite
  @include border-radius(10px)
  .row
    margin-left: 0px
    div
      display: inline-block
      float: left
      margin-bottom: 5px
  ul
    list-style: none
    li
      border-bottom: 1px dotted #000
      width: 80%
      .rideshare-link
        font-size: 14px
        color: $brown
  .pagination
    margin: 0px
    a
      padding: 10px .5em !important
    .current
      padding: 10px .5em !important
        
        




.event-infowindow
  .btn
    margin-bottom: 5px
  .top-left-ride
    display: inline-block
    margin-top: 5px
    p
      line-height: 7px 
      font-size: 1.5em
    a
      font-size: 15px
  .top-right-ride
    display: inline-block
    min-width: 60px
    vertical-align: top
  h3
    line-height: 10px
    a
      color: $brown
      text-decoration: none
    a:hover
      color: $orange
  img
    margin-bottom: 5px
  p
    line-height: 7px



.paginate-container
  text-align: center

.pagination 
  display: inline-block
  width: auto
  text-align: center
  cursor: default
  height: 22px
  margin-top: 10px
  a, span, em 
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
  .disabled 
    display: none
  .current 
    font-style: normal
    font-weight: bold
    background: $brown
    color: white
    border: 1px solid #000
  a 
    text-decoration: none
    background: $green
    color: #000
    border: 1px solid #000
    &:hover, &:focus 
      color: white
      text-decoration: none
      background: $brown
  .page_info 
    background: #2e6ab1
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b 
      color: #000033
      background: #2e6ab1 + 60
      padding: 0.1em 0.25em
    
  
