@import 'bootstrap'

$lightyellow: rgb(255,225,94)
$red: rgb(239,49,34)
$darkblue: #23238E
$orange: rgb(233, 86, 36)
$brown: #5d3c1d
$greenbrown: rgb(90, 58, 0)
$darkorange: rgb(233, 74, 19)


.rideshare-form
  position: relative
  padding-bottom: 20px
  width: 30%
  height: auto
  margin: 0 .5%
  line-height: 0px
  float: right
  padding: 1%
  background-color: rgba(241,241,241, .5)
  @include border-radius(10px)
  .ride-date
    select
      width: 30%
  .inline-field
    float: left
    label
      display: inline-block
      width: 27%
    input
      width: 65%
  .inline-checkbox
    display: block
  .actions
    float: left
    display: block

.filter-bar 
  margin-top: 15px
  float: left
  width: 65%


.slider-box
  float: right
  width: 35%
  margin-top: 15px


.filter-bar-map
  margin-top: 15px
  float: left
  width: 40%

#filtered-pop-map
  margin-left: 160px

#filtered-pop
  margin-left: 110px

.slider-box-map
  float: right
  width: 55%
  margin-top: 15px



#festival-map
  margin: 0px
  .map_container 
    width: 100% !important


  
//this fixes the broken zoom thingy on the gmap4rails map
#map 
  img 
    max-width: none

#map 
  label 
    width: auto
    display:inline

.event-infowindow
  .btn
    margin-bottom: 5px
  h3
    line-height: 10px
    a
      color: $brown
      text-decoration: none
    a:hover
      color: $orange
  img
    margin-bottom: 5px
  p
    line-height: 7px



.paginate-container
  text-align: center

.pagination 
  display: inline-block
  width: auto
  text-align: center
  cursor: default
  height: 22px
  a, span, em 
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
  .disabled 
    display: none
  .current 
    font-style: normal
    font-weight: bold
    background: $brown
    color: white
    border: 1px solid #000
  a 
    text-decoration: none
    background: $green
    color: #000
    border: 1px solid #000
    &:hover, &:focus 
      color: white
      text-decoration: none
      background: $brown
  .page_info 
    background: #2e6ab1
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b 
      color: #000033
      background: #2e6ab1 + 60
      padding: 0.1em 0.25em
    
  
