@import 'bootstrap'

$lightyellow: rgb(255,225,94)
$red: rgb(239,49,34)
$darkblue: #23238E
$orange: rgb(233, 86, 36)
$brown: #5d3c1d
$greenbrown: rgb(90, 58, 0)
$darkorange: rgb(233, 74, 19)



.festival-container
  position: relative
  margin-top: 30px
  width: 95%
  height: auto
  margin-left: 2.5%
  background-color: rgba(255,255,255, .5)
  @include border-radius(5px)
  border: 2px solid $darkorange
  .festival-submit-link
    font-size: 16px
    margin: 5px 0 0 5px
    color: $brown




.festival-list
  width: 100%
  table
    th
      h3
        outline: 0
        color: $greenbrown
        font-size: 2.5em
        padding: 8px 30px 8px 0px 
        text-shadow: 1px 1px 1px #000
        margin-bottom: 50px
        @include border-radius(3px)
      a:hover
        color: $red
        text-decoration: none
    th:first-child
      padding-left: 90px
    tr:first-child
      margin-bottom: 100px
    tr
      font-weight: bold
      font-size: 1.5em
      margin-left: 10px
    .fest-list-item:hover
      background-color: $orange
    

.festival-show-container
  margin-top: 40px
  width: 94%
  height: auto
  margin-left: 3%
  margin-right: 3%
  background-color: rgba(241,241,241, .8)
  @include border-radius(10px)


.festival-show
  p
    font-size: 2em


  
.festival-left
  padding: 15px 15px 0px 30px
  img
    margin-bottom: 5px

.festival-right
  padding-right: 30px
  


.paginate-container
  text-align: center

.pagination 
  display: inline-block
  width: auto
  text-align: center
  cursor: default
  height: 22px
  a, span, em 
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
  .disabled 
    display: none
  .current 
    font-style: normal
    font-weight: bold
    background: $brown
    color: white
    border: 1px solid #000
  a 
    text-decoration: none
    background: $green
    color: #000
    border: 1px solid #000
    &:hover, &:focus 
      color: white
      text-decoration: none
      background: $brown
  .page_info 
    background: #2e6ab1
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b 
      color: #000033
      background: #2e6ab1 + 60
      padding: 0.1em 0.25em
    
  
