@import 'bootstrap/variables'
@import 'bootstrap/mixins'

$lightyellow: rgb(255,225,94)
$red: rgb(239,49,34)
$darkblue: #23238E
$orange: rgb(233, 86, 36)
$brown: #5d3c1d
$greenbrown: rgb(90, 58, 0)
$darkorange: rgb(233, 74, 19)



.festival-submit-link
  font-size: 1.6em
  color: $brown

.remove-label-input
  display: inline-block
  float: left

.remove-label
  display: inline-block
  margin: 30px 0 0 10px


#event_search
  margin-bottom: 0px
  .row-fluid
    .control-group
      margin-top: 0px
      margin-bottom: 4px
      label
        padding-top: 5px
      input
        float: right
      select
        float: right
      @media (max-width: 1000px)
        float: none
        margin-left: 0px
        width: 100%
        .control-label
          float: left
  .control-label
    width: auto
    font-size: 1.5em
    font-weight: bold
  .controls
    margin-left: 0px



.festival-list
  width: 100%
  table
    th
      h3
        outline: 0
        color: $greenbrown
        font-size: 2.5em
        padding: 8px 30px 8px 0px 
        text-shadow: 1px 1px 1px #000
        margin-bottom: 0px
        margin-top: 0px
        @include border-radius(3px)
        white-space: nowrap
        a
          color: $greenbrown
      a:hover
        color: $red
        text-decoration: none
    th:first-child
      padding-left: 90px
    tr:first-child
      margin-bottom: 100px
    tr
      font-weight: bold
      font-size: 1.5em
      margin-left: 10px
    .fest-list-item:hover
      background-color: $orange


#festival-show
  p
    font-size: 2em
  .fest-img
    vertical-align: top

.ticket-exchange
  .vote-area
    display: none
  
.festival-social-buttons
  display: inline-block
  width: 75px
  img
    width: 75px



