// Place all the styles related to the Festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap'

$lightblue: rgb(106,201,197)
$lightyellow: rgb(255,225,94)
$skyblue: rgb(94,185,232)
$red: rgb(239,49,34)
$darkblue: #23238E
$orange: rgb(233, 86, 36)
$brown: #5d3c1d
$gold: #CDAD00


.asc
  @include gradient-vertical($startColor: $brown, $endColor: $orange)
  background-color: $brown

.desc
  @include gradient-vertical($startColor: $orange, $endColor: $brown)
  background-color: $orange

.festival-list
  width: 100%
  margin-top: 30px
  table
    th
      a
        color: $darkblue
        font-size: 1.5em
        padding: 8px  50px
        margin-bottom: 50px
        @include border-radius(3px)
    tr:first-child
      margin-bottom: 100px
    tr
      font-weight: bold
      font-size: 1.5em
    tr:hover
      background-color: $orange
    tr:first-child:hover
      background-color: $orange

div.festival-modal 
  position: absolute
  left: 320px
  width: 90%
  height: 70%
  img
    max-height: 500px
  .modal-header
    border-bottom: 5px solid $red

.modal-box
  h3
    margin: 0px
    color: $darkblue
  p
    margin: 0px
  .box-header
    border-bottom: 1px solid #000000

th.ec-month-nav
  font-size: 24px
  border: 1px solid #000000
  background-color: $lightyellow
  height: 30px

