@font-face {
    font-family: 'StereofidelicRegular';
    src: url(font-path('stereofidelic-webfont.eot'));
    src: url(font-path('stereofidelic-webfont.eot')+'?#iefix') format('embedded-opentype'),
         url(font-path('stereofidelic-webfont.woff')) format('woff'),
         url(font-path('stereofidelic-webfont.ttf')) format('truetype'),
         url(font-path('stereofidelic-webfont.svg')+'#StereofidelicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}