@import 'bootstrap/variables'
@import 'bootstrap/mixins'

$lightblue: rgb(106,201,197)
$darkblue: #23238E
$car-rad: 0px
$darkorange: rgb(233, 74, 19)
$green: #3fad49
$brown: #5d3c1d
$clearwhite: rgba(241,241,241, .6)



body
  font-size: 62.5%
  padding: 0px
  margin-top: 0px
  background-image: url('mfn-bg.png')
  background-position: center center fixed
  @include background-size(100% auto)
  overflow-x: hidden


//Header

#social-links
  position: absolute
  top: 3px
  left: 5px
  img
    width: 30px

#logo
  width: 550px
  height: 200px
  @media (min-width: 980px) and (max-width: 1199px)
    width: 450px
    height: 160px
  @media (min-width: 768px) and (max-width: 979px)
    width: 350px
    height: 125px
  @media (max-width: 767px)
    width: 165px
    height: 60px
  margin: 0px

#user_nav
  position: absolute
  top: 3px
  right: 5px

.todays-festivals-container
  font-family: 'StereofidelicRegular', sans-serif, Georgia
  position: absolute
  right: 5px
  top: 30px
  height: 119px
  @media (min-width: 1200px)
    height: 151px
  width: 500px
  margin-left: 100px
  overflow: hidden
  padding: 5px 0 0 0
  line-height: 0px
  h3
    text-align: center
    color: #000
    line-height: 0px
    font-weight: normal
    padding-bottom: 3px
  .todays-festival
    width: 48%
    display: inline-block
    border: 1px solid $brown
    background-color: $green
    @include border-radius(13px)
    height: 30px
    overflow: hidden
    white-space: nowrap
    a
      color: #000
      display: block
      padding: 5px 0px 5px 10px
      font-size: 2em
      line-height: 20px
      width: 100%
  .todays-festival:hover
    background-color: $brown
    a
      color: #fff
      text-decoration: none  


// Navigation Menu

.navbar#main-nav
  font-family: 'StereofidelicRegular', sans-serif, Georgia
  margin-bottom: 0px
  @include box-shadow(3px 3px 5px #000)
  .navbar-inner
    @include border-radius(0px)
    @include box-shadow(none)
    background: $brown
    border: none
    .nav
      width: 100%
      @media (max-width: 767px)
        margin: 0px
      .main-nav-li
        margin-top: 4px
        @media (max-width: 767px)
          line-height: 7px
          width: 100%
          .hidden-phone
            height: 0px
        @media (min-width: 768px)
          width: 14%
        .dropdown-toggle
          width: 100%
          text-shadow: 2px 2px 5px #000
          padding: 10px
          text-align: center
          color: #000000
          font-size: 2.5em
          @include transition(all .15s ease-in-out)
          color: #FFF
          background: rgba(0,0,0,0.0)
          box-shadow: none
          border: none
          white-space: nowrap
        .dropdown-toggle:hover
          color: $darkorange
          font-size: 3em
        .dropdown-toggle:focus
          outline: none
      .main-nav-li:hover
        .dropdown-menu 
          display: block 
          top: 60px
      .main-nav-li.active
        .dropdown-toggle
          color: $darkorange
          font-size: 3em
          
.dropdown-menu
  margin-top: -25px !important
  margin-left: 5px !important
  .dropdown-li
    font-size: 2em


// Main Content

#flash_notice
  width: 100%
  position: absolute
  padding-top: 8px
  text-align: center
  z-index: -1000
  font-size: 1.6em
  font-weight: bold

#flash_alert
  width: 100%
  position: absolute
  padding-top: 8px
  text-align: center
  z-index: -1000
  font-size: 1.6em
  font-weight: bold

.container-fluid
  padding: 0px

#application-container
  width: 94%
  height: auto
  margin: 30px 2%
  padding: 10px
  background-color: $clearwhite
  @include border-radius(10px)



#myCarousel
  width: 100%%
  float: left
  height: 400px
  @media (min-width: 980px)
    height: 500px
  @media (max-width: 579px)
    height: 300px
  @include border-radius($car-rad)
  border: 1px solid #000000
  @include box-shadow(1px 1px 1px #000000)

.carousel-div
  img
    @include border-radius($car-rad)
    position: static
    height: 400px
    @media (min-width: 980px)
      height: 500px
    @media (max-width: 579px)
      height: 300px
    width: 100%
    z-index: -100
  .item-header
    position: absolute
    top: 20px
    right: 20px
    @include border-radius(7px)
    @include gradient-vertical($startColor: $lightblue, $endColor: $darkblue)
    @include box-shadow(3px 3px #000000)
    float: right
    height: 35px
    width: 300px
    padding-top: 5px
    h2
      font-size: 2em
      margin-top: -2px
      text-align: center
      color: #000000
  .item-footer
    position: absolute
    bottom: 5px
    padding: 8px
    height: 50px
    width: 100%
    border: none
    @include border-radius(0px)
    @include gradient-horizontal($startColor: #000000, $endColor: rgba(0, 0, 0, 0.0))
    h3
      color: #FFFFFF
      margin: -5px 0 0 0 
    p 
      color: #FFFFFF
      font-size: 1.4em



.sidebar
  width: 100%
  div 
    @media (max-width: 767px)
      display: inline-block
      width: 49% 

.fb_ltr
  background-color: #FFF

#fb-root 
  display: none

.fb_iframe_widget
  width: 100% !important
  span
    @media (min-width: 768px) and (max-width: 979px)
      height: 155px !important
    width: 100% !important
    iframe[style]
      @media (min-width: 768px) and (max-width: 979px)
        height: 155px !important
      width: 100% !important

#twitter-widget-0
  min-width: 100% !important


// Misc pages; survival guide, contact, and about

#survival-page
  p
    font-size: 2em
    line-height: 1.3em
  li
    font-size: 2em
    line-height: 1.5em

#contact-page
  h2
    @media (max-width: 767px)
      font-size: 2.5em

#about-page
  p
    font-size: 16px
  .about-team
    div
      display: inline-block
      margin: 0px 30px
      h4
        text-align: center
    img
      height: 200px
    #jared-pic
      width: 116px
    #blaine-pic
      width: 300px

