// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'bootstrap'

@font-face 
  font-family: 'BebasNeueRegular'
  src: url('BebasNeue-webfont.woff') format('woff')
  src: url('BebasNeue-webfont.ttf') format('truetype')
  src: url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg')
  font-weight: normal
  font-style: normal

$lightblue: rgb(106,201,197)
$forestgreen: #228B22
$lightgreen: #66ba56 
$aquamarine: #66CDAA
$darkblue: #23238E
$yellow: #FFFF00
$lavender: #CE7898
$greenblue: #98C5AB
$lightyellow: rgb(255,225,94)
$gold: #CDAD00
$red: rgb(239,49,34)
$torquise: #00C78C
$orange: rgb(233, 86, 36)
$skyblue: rgb(94,185,232)
$car-rad: 0px
$darkorange: rgb(233, 74, 19)
$green: #3fad49
$brown: #5d3c1d


body
  font-size: 62.5%
  font-family: 'BebasNeueRegular', sans-serif, Georgia
  overflow-x: hidden

#user_nav
  position: absolute
  top: 3px
  right: 5px

#application-container
  background-color: $green
  height: 100%
  width: 100%
  margin: 0 auto

.main-page-container
  position: relative
  margin-top: 40px
  width: 94%
  height: 800px
  margin-left: 2%
  margin-right: 2%
  padding: 1%
  background-color: rgb(241,241,241)
  @include border-radius(10px)

  

#login-link
  position: absolute
  right: 15px
  top: 5px
  a
    font-size: 20px

#logo
  width: 100%
  img
    height: 200px
    width: 100%

.sidebar
  float: right
  width: 25%
  margin: 1% 1% 0px 0px

#main-nav-span
  height: 30px
  width: 100%

#main-page-nav
  margin-bottom: 20px

.navbar#main-nav
  position: relative
  @include box-shadow(3px 3px 5px #000)
  div.navbar-inner
    @include border-radius(0px)
    -webkit-box-shadow: none
    box-shadow: none
    background: $brown
    border: none
    ul.nav
      width: 100%
      margin-bottom: 10px
      .main-nav-li
        position: relative
        a.dropdown-toggle
          text-shadow: 2px 2px 5px #000
          text-align: center
          margin: 15px 0 0 2px 
          padding-top: 0px
          padding-bottom: 0px
          font-family: impact
          font-weight: bold
          width: auto
          color: #000000
          font-size: 2em
          color: #FFF
          background: rgba(0,0,0,0.0)
          box-shadow: none
          border: none
        a.dropdown-toggle:hover
          border-bottom: 2px solid $red
        a.dropdown-toggle:focus
          outline: none
      .main-nav-li.active
        a.dropdown-toggle
          border-bottom: 2px solid $red

.dropdown-li
  font-size: 1.4em


#myCarousel
  width: 70%
  margin: 1% 0px 0px 1%
  float: left
  height: 400px
  @include border-radius($car-rad)
  border: 1px solid #000000
  @include box-shadow(1px 1px 1px #000000)
    


.carousel-div
  img
    @include border-radius($car-rad)
    position: static
    height: 400px
    width: 100%
    z-index: -100
  .item-header
    position: absolute
    top: 20px
    right: 20px
    @include border-radius(7px)
    @include gradient-vertical($startColor: $lightblue, $endColor: $darkblue)
    @include box-shadow(3px 3px #000000)
    float: right
    height: 35px
    width: 300px
    padding-top: 5px
    h2
      font-size: 15px
      margin-top: -2px
      text-align: center
      color: #000000
  .item-footer
    position: absolute
    bottom: 5px
    padding: 8px
    height: 50px
    width: 100%
    border: none
    @include border-radius(0px)
    @include gradient-horizontal($startColor: #000000, $endColor: rgba(0, 0, 0, 0.0))
    h3
      color: #FFFFFF
      margin: -5px 0 0 0 
    p 
      color: #FFFFFF

.fb_ltr
  background-color: #FFF

#contact-container
  margin-left: 2.5%
  margin-top: 30px


.about
  margin-top: 30px
  margin-left: 2.5%

