@import 'bootstrap'

.review-form
  input
    width: 100%
    margin-bottom: 0px
  textarea
    width: 100%
    margin-bottom: 0px
  select
    width: 100%
    margin-bottom: 0px
  .rating-meters
    height: auto
    width: auto
    .overall_rating
      display: inline-block
      vertical-align: top
      padding-top: 30px
      .rating_star
        width: 50px
        height: 48px
        display: inline-block
        background-image: url('white-star.png')
      .active-star
        background-image: url('gold-star.png')
    .security_rating
      display: inline-block
      height: 125px
      width: 125px
      background-image: url('Meter5-01.png')
      .rating_meter
        height: 20px
        width: 100%
      #meter_5
        margin-bottom: 20px
    .meter_1
      background-image: url('Meter1-01.png')
    .meter_2
      background-image: url('Meter2-01.png')
    .meter_3
      background-image: url('Meter3-01.png')
    .meter_4
      background-image: url('Meter4-01.png')
    .meter_5
      background-image: url('Meter5-01.png')


.review-container
  background-color: rgba(255, 255, 255, 0.8)
  @include border-radius(5px)
  padding: 5px
  border: 1px solid #000
  margin-bottom: 5px
  .vote-area
    float: left
    width: 40px
    display: inline-block
    .btn
      width: 25px
  .review-area
    display: inline-block
    width: 75%
    margin-left: 5px
    .review-header
      border-bottom: 1px solid #000
