@import 'bootstrap'

$green: #3fad49
$orange: rgb(233, 86, 36)
$brown: #5d3c1d

.ride-container
  font-size: 1.5em
  margin-bottom: 5px
  .row
    div
      overflow: hidden
      @include border-radius(5px)
      padding: 5px
      border: 1px solid #000
      height: 60px


.giving
  .row
    div
      background-color: $green
      

.need
  .row
    div
      background-color: $orange


.ride-infowindow
  h4
    line-height: 10px
    margin-top: 0px
    a
      color: $brown
      text-decoration: none
    a:hover
      color: $orange
  h5
    line-height: 0px
  img
    margin-bottom: 5px
  p
    margin: 0px
    line-height: 15px
    font-size: 13px