// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap'







$lightblue: rgb(106,201,197)
$forestgreen: #228B22
$lightgreen: #66ba56  
$aquamarine: #66CDAA
$darkblue: #23238E
$yellow: #FFFF00
$lavender: #CE7898
$greenblue: #98C5AB
$lightyellow: rgb(255,225,94)
$gold: #CDAD00
$red: rgb(239,49,34)
$torquise: #00C78C
$orange: rgb(233, 86, 36)
$skyblue: rgb(94,185,232)
$car-rad: 0px
$darkorange: rgb(233, 74, 19)
$grey: #696969
$green: #3fad49

div.login-form
  margin-left: 80px

body
  font-size: 62.5%
  height: auto
  background-color: $green
//lineup

.lineup-box
  display: inline
  float: left
  padding: 5px
  margin: 20px
  width: 100px
  height: 100px
  border: 2px dashed $grey
  @include border-radius(5px)

.lineup-box:hover
  background-color: $gold