<footer>
  <div id="footer-container" class="row-fluid">
    <div class='span4'>
      Our Website Friends</br>
      <b><%= link_to 'Festival Survival Guide', 'http://www.festivalsurvivalguide.com/' %></b> - A blog about festivals with some great tips</br>
      <b><%= link_to 'Magnetic Magazine', 'http://www.magneticmag.com/' %></b> - An all EDM blog with tons of cool content

    </div>
    <div class='span2'>
      
    </div>
    <div class='span2'>
      
    </div>
    <div class='span2'>
      
    </div>
    <div class='span2'>
      
    </div>
  </div>
</footer>
    